terraform-provider-aws_v3.12.0_x5.exe
selections.json
.terraform\plugins\registry.terraform.io\hashicorp\aws\3.13.0\windows_amd64\terraform-provider-aws_v3.13.0_x5.exe
C:\Users\Daniel\Github\eksHelm\.terraform\plugins\registry.terraform.io\hashicorp\aws\3.13.0\windows_amd64\terraform-provider-aws_v3.13.0_x5.exe
.terraform\plugins\registry.terraform.io
.terraform\plugins\registry.terraform.io\hashicorp\aws\3.13.0\windows_amd64\terraform-provider-aws_v3.13.0_x5.exe